@charset "utf-8";

:root {
--main-font: "Noto Sans KR", sans-serif;
--sub-font: "Noto Serif KR", serif;
--main-color: #c27a34;  /* rgb(194,122,52) */
}

body { font-family: var(--main-font); font-size: 1.6rem; line-height: 1.5; color: #333; }
.inner { max-width: 1640px; margin: 0 auto; padding: 0 20px; }

/* 공통 */
.btn a { display: inline-block; padding: 10px 30px; color: #fff; background: var(--main-color); border-radius: 50px; }



/* header */
#header { position: absolute; left: 0; top: 0; width: 100%; z-index: 3; color: #fff; border-bottom: 1px solid rgba(255, 255, 255, 0.5); transition: background 0.5s; }
#header .inner { display: flex; justify-content: space-between; align-items: center; max-width: 1740px; }
#header h1 a { display: block; font-size: 0; width: 100px; height: 58px; background: url(../images/common/logo_w.png) no-repeat center / 100%; }
#header nav { margin-right: auto; margin-left: 50px; }
#header .gnb { display: flex; }
#header .gnb > li { position: relative; }
#header .gnb > li > a { display: block; font-size: 2rem; padding: 30px 40px; font-family: var(--sub-font); }
#header .gnb > li::before { content: ""; position: absolute; left: 50%; transform: translateX(-50%); bottom: 0; display: block; background: var(--main-color); width: 0; height: 5px; transition: all 0.5s; }
#header .gnb > li:hover::before { width: 100%; }
#header .gnb > li .depth2 a { transition: all 0.5s; }
#header .gnb > li .depth2 a:hover { color: var(--main-color); }

#header .gnb > li .depth2 { display: none; position: absolute; width: 600px; color: #333; z-index: 3; }
#header .gnb .depth2 li { display: inline-block; padding: 25px 15px; font-weight: 500; }
#header .depth2_bg { display: none; position: absolute; width: 100%; height: 70px; background: #fff;  }


#header .util { display: flex; gap: 30px; align-items: center; }
#header .btn_menu { background: url(../images/common/ham_w.png); width: 35px; height: 20px; font-size: 0; cursor: pointer; }


#header.active { background: #fff; color: #333; border: none; }
#header.active .depth2_bg { border-top: 1px solid #ddd; }
#header.active h1 a { background: url(../images/common/logo_b.png); }
#header.active .btn_menu { background: url(../images/common/ham_b.png); }

@media (max-width: 1100px) {
    #header { padding: 10px 0; }
    #header h1 a { width: calc(100px * 0.7); height: calc(58px * 0.7); }
    #header .gnb { display: none; }
    #header .btn { display: none;}
}


.mgnb_wrap { display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: #fbf9f4; color: #000; z-index: 99; }
.mgnb_wrap .mgnb { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 60%; border-top: 1px solid var(--main-color); border-bottom: 1px solid var(--main-color); }
.mgnb_wrap .mgnb > li { display: flex; flex-wrap: wrap; align-items: center; padding: 40px 0; border-bottom: 1px solid rgba(194, 122, 52, 0.3); }
.mgnb_wrap .mgnb > li > a { display: block; width: 40%; padding: 0 35px; font-size: 3rem; text-transform: uppercase; font-weight: 700;  }
.mgnb_wrap .mgnb .mdepth2 { display: flex; font-size: 2rem; gap: 0 50px; opacity: 0.5; }
.mgnb_close { position: absolute; right: 0; top: 0; width: 40px; height: 40px; background: #000 url(../images/common/i_close_w.svg) no-repeat center / 50%; font-size: 0; cursor: pointer; }

@media (max-width: 1100px) {
    .mgnb_wrap .mgnb { width: 80%; }
    .mgnb_wrap .mgnb > li { padding: 30px; }
    .mgnb_wrap .mgnb > li > a { width: 100%; font-size: 2.5rem; padding: 0; padding-bottom: 10px; }
    .mgnb_wrap .mgnb .mdepth2 { width: 100%; font-size: 1.6rem; gap: 40px; }
}
@media (max-width: 1100px) {
    .mgnb_wrap .mgnb { width: 90%; }
    .mgnb_wrap .mgnb > li { padding: 20px; }
    .mgnb_wrap .mgnb > li > a { width: 100%; font-size: 2rem; padding: 0; padding-bottom: 10px; }
    .mgnb_wrap .mgnb .mdepth2 { width: 100%; font-size: 1.4rem; gap: 20px; }
}





/* footer */
#footer { background: #fff; padding: 100px 0; border-top: 1px solid #ddd;  }
#footer .inner { position: relative; }
#footer .logo { display: flex; gap: 20px; align-items: flex-end; }

#footer .cs { position: absolute; right: 0; top: 0; text-align: right; }
#footer .cs li:nth-child(1) { font-weight: 700; }
#footer .cs li:nth-child(2) { font-size: 3.6rem; font-family: var(--sub-font); font-weight: 700; color: var(--main-color); padding: 15px 0; }
#footer .cs li:nth-child(3) { opacity: 0.6; }
#footer .call { width: 30%; padding: 30px 0; font-weight: 500; flex-wrap: wrap; }
#footer .call span { opacity: 0.4; }
#footer .copy { opacity: 0.6; }

@media (max-width:1100px){
    #footer .logo { padding-bottom: 20px; }
    #footer { padding: 50px 0; }
    #footer .cs { position: static; display: block; text-align: left; }
    #footer .call { width: 80%;}
}
@media (max-width:800px){
    #footer .cs li:not(:nth-child(2)) { font-size: 1.4rem; }
    #footer .cs li:nth-child(2) { font-size: 3.5rem; }
    #footer .call { width: 90%; font-size: 1.5rem; }
    #footer .copy { font-size: 1.4rem; }
    
}