@charset "utf-8";

.bg_brand { background: url(../images/sub/bg_sub1.jpg) no-repeat center / cover; height: 800px; }

@media (max-width:1200px) {
    .bg_brand { height: 600px; }
}
@media (max-width:700px) {
    .bg_brand { height: 450px; }
}

.sub_visual .sub_title { text-align: center; padding: 330px 0 400px; color: #fff; }
.sub_title h2 { text-transform: capitalize; font-family: var(--sub-font); font-size: 8rem; font-weight: 400; line-height: 0.8; }
.sub_title p { font-size: 2rem; }
.sub_title p::before { content: ""; background: #fff; display: block; width: 0.5px; height: 30px; margin: 20px auto; }

.sub_contents { margin-bottom: 200px; text-align: center; }
.sub_contents .inner { max-width: 1440px; }
.sub_contents h3 { padding: 100px 0; font-size: 4rem; }
.sub_contents .brand_list { display: flex; justify-content:space-between; align-items: center; }
.sub_contents .brand_list .brand_img { width: 40%; }
.sub_contents .brand_list .brand_img img { width: 100%; }
.sub_contents .brand_list .brand_txt { text-align: left; width: 50%; letter-spacing: -1; flex-wrap: wrap; }
.sub_contents .brand_list .brand_txt span { position: relative; color: var(--main-color); font-family: var(--sub-font); font-weight: 700; font-size: 2.6rem; text-transform: capitalize; }
.sub_contents .brand_list .brand_txt span::before { content: ""; position: absolute; left: 0; bottom: 10px; background: var(--main-color); height: 10px; width: 170px; opacity: 0.2; }
.sub_contents .brand_list .brand_txt h4 { font-size: 4rem; font-family: var(--sub-font); font-weight: 500; padding: 30px 0; }
.sub_contents .brand_list .brand_txt p { font-size: 1.8rem; opacity: 0.8; margin-bottom: 20px; }
.sub_contents .brand_list .brand_txt p br { display: none; }


.sub_contents .brand_list:nth-child(2n+1) .brand_txt { order: 1; }
.sub_contents .brand_list:nth-child(2n+1) .brand_img { order: 2; }
.sub_contents .brand_list:nth-child(4) .brand_img { width: 50%; }
.sub_contents .brand_list:nth-child(4) .brand_txt { width: 40%; }
.sub_contents .brand_list:nth-child(5) .brand_img { width: 30%; }


@media (max-width: 1200px) {
    .sub_title h2 { font-size: 7rem; }
    .sub_visual .sub_title { padding: 270px 0 300px; }
    .sub_contents h3 { font-size: 3.5rem; }
    .sub_contents .brand_list .brand_txt span { font-size: 2.4rem; }
    .sub_contents .brand_list .brand_txt span::before { width: 160px; bottom: 5px; }
    .sub_contents .brand_list .brand_txt h4 { font-size: 3.2rem; }
    .sub_contents .brand_list .brand_txt p { font-size: 1.6rem; }
    .sub_contents .brand_list .brand_txt p br { display: inline; }

}

@media (max-width:800px) {
    .sub_title h2 { font-size: 6rem; }
    .sub_contents { margin-bottom: 100px; }
    .sub_contents h3 { padding: 50px 0; }
    .sub_contents .brand_list { display: block; }
    .sub_contents .brand_list .brand_img { width: 100%; }
    .sub_contents .brand_list:nth-child(4) .brand_img { width: 100%; }
    .sub_contents .brand_list:nth-child(5) .brand_img { width: 100%; }
    .sub_contents .brand_list .brand_txt { margin: 40px 0; }

}
@media (max-width:700px) {
    .sub_visual .sub_title { padding: 210px 0 300px; }
    .sub_title h2 { font-size: 4rem; padding-bottom: 30px; line-height: 1; }
    .sub_title p::before { display: none; }
    .sub_title p { font-size: 1.6rem; }
    .sub_contents h3 { font-size: 3rem; }
    .sub_contents .brand_list .brand_txt { width: 100%; }
    .sub_contents .brand_list .brand_txt h4 { font-size: 2rem; padding: 10px 0; }
    .sub_contents .brand_list .brand_txt p { font-size: 1.4rem; }

}